name = "PersistenceDiagrams"
uuid = "90b4794c-894b-4756-a0f8-5efeb5ddf7ae"
authors = ["mtsch <matijacufar@gmail.com>"]
version = "0.9.2"

[deps]
Compat = "34da2185-b29b-5c13-b0c7-acf172513d20"
Hungarian = "e91730f6-4275-51fb-a7a0-7064cfbd3b39"
MLJModelInterface = "e80e1ace-859a-464e-9ed9-23947d8ae3ea"
PersistenceDiagramsBase = "b1ad91c1-539c-4ace-90bd-ea06abc420fa"
RecipesBase = "3cdcf5f2-1ef4-517c-9805-6587b60abb01"
Statistics = "10745b16-79ce-11e8-11f9-7d13ad32a3b2"
Tables = "bd369af6-aec1-5ad0-b16a-f7cc5008161c"

[compat]
Compat = "^3.10.0"
Hungarian = "0.6"
MLJModelInterface = "^0.3.5, 0.4, 1.0"
PersistenceDiagramsBase = "^0.1.1"
RecipesBase = "1"
Tables = "1"
julia = "1"

[extras]
Aqua = "4c88cf16-eb10-579e-8560-4a9242c79595"
Documenter = "e30172f5-a6a5-5a46-863b-614d45cd2de4"
MLJBase = "a7f614a8-145f-11e9-1d2a-a57a1082229d"
SafeTestsets = "1bc83da4-3b8d-516f-aca4-4fe02f6d838f"
Suppressor = "fd094767-a336-5f1f-9728-57cf17d0bbfb"
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Aqua", "Documenter", "MLJBase", "SafeTestsets", "Suppressor", "Test"]
