name = "PersistenceDiagrams"
uuid = "90b4794c-894b-4756-a0f8-5efeb5ddf7ae"
authors = ["mtsch <matijacufar@gmail.com>"]
version = "0.1.0"

[deps]
Compat = "34da2185-b29b-5c13-b0c7-acf172513d20"
Distances = "b4f34e82-e78d-54a5-968a-f98e89d6e8f7"
Hungarian = "e91730f6-4275-51fb-a7a0-7064cfbd3b39"
RecipesBase = "3cdcf5f2-1ef4-517c-9805-6587b60abb01"

[compat]
Compat = "3.10.0"
Distances = "0.8, 0.9"
Hungarian = "0.6"
RecipesBase = "1"
julia = "1"

[extras]
Aqua = "4c88cf16-eb10-579e-8560-4a9242c79595"
SafeTestsets = "1bc83da4-3b8d-516f-aca4-4fe02f6d838f"
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Aqua", "SafeTestsets", "Test"]
